<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935566768212-k1kuppe3e2fo7t5agjaler5ao3mhfp5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935566768212-k1kuppe3e2fo7t5agjaler5ao3mhfp5k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935566768212-0ue6e0lppm5tf3bbosbpegn5dn9gptjg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJ0IUHUNLCeGrtKRKZxpfKci_SVKgtdc</string>
	<key>GCM_SENDER_ID</key>
	<string>935566768212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elajkom.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>elajkom-ea818</string>
	<key>STORAGE_BUCKET</key>
	<string>elajkom-ea818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935566768212:ios:04b791d3dd2f688a3155c1</string>
	<key>DATABASE_URL</key>
	<string>https://elajkom-ea818.firebaseio.com</string>
</dict>
</plist>